@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.my-content {
  background-color: #f7f7f7;
}
.my-navbar {
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.3);
  background: white;
}

.acc-info {
  color: #666;
  line-height: 1;
}

.title-page {
  color: #919191
}

.collapse-title {
  color: white;
  background: #5DAD58;
}

.collapse-title a {
  color: white;
  text-decoration: underline;
}

.help {
  @media only screen and (max-width: 992px) {
    display: none;
  }
}